@CHARSET "ISO-8859-1";


.error{
	font-size: small;
	color: red;
	margin-left: 10px;
}

.valid{
	font-size: small;
	color: green;
	margin-left: 10px;
}

table.offers{
	padding: 10px;
	border:  solid gray;
	border-width: 1px 1px;
}
div.footer{
	font-size: small;
	color: gray;
	
}
div.content{
	position: relative;
	padding: 40px;
}
div.toolbar{
	position: relative;
	padding-left: 40px;
	margin-top:10px;
}

div.header{
	position: relative;
	text-align: center;
	width:  100%;
	height: 40px;
	background-color: red;
}

a.login{
	position: absolute;
	top: 10px;
	right: 10px;
	color:white;
}

a.title{
	color: white;
	font-size: 35px;	
}
table.offers td{
	border-bottom: 1px  dashed brown;
	padding-bottom: 5px;
}

td.name{
	width: 100px;
	vertical-align: top;
}
td.contact{
	padding: 0px 10px;	
	width: 40px;
	vertical-align: top;	
}
.message{
	margin-bottom: 20px;
	border-bottom: 1px dashed brown;
}
span.subject{
	font-size: large;
	color: brown;
	font-weight: bold;
}
span.messageBody{
	display: block;
	font-style: italic;
}
span.name{
	color:brown;
	font-size: medium;
}

input.replyButton{
	display: block;
	font-size: large;
	border: 1px solid gray;
}
a.replylink:link{
	color:brown;
}
span.alert{
	display:block;
	font-weight: bold;
	color: green;
}